@mixin flexcontent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactPageBgImage {
  margin-top: 0px;
  background: linear-gradient(
      45deg,
      rgba(40, 120, 235, 0.9),
      rgba(40, 121, 235, 0.336)
    ),
    url(../images/ContactImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45vh;
  @include flexcontent();
  h2 {
    font-size: 2.2em;
    border-bottom: 2px solid #fff;
    color: #fff;
  }
}

.mainContactSection {
  @include flexcontent();
  padding: 15px;
  flex-wrap: wrap;
  .addressPhoneEmail {
    display: flex;
    flex-direction: column;
    background-color: #e9eff6;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    .contactSmallBox {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

      .iconA {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 24px;
        color: #fff;
        margin-right: 20px;

        // Icon specific styles
        i {
          font-size: 24px;
        }
      }

      .contactMiniBox {
        display: flex;
        flex-direction: column;

        strong {
          font-size: 18px;
          color: #333;
          margin-bottom: 5px;
        }

        address,
        a {
          font-size: 14px;
          color: #555;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    // Icon colors
    .fa-location-dot {
      background-color: #007bff;
      padding: 15px;
      border-radius: 50%;
    }

    .fa-phone {
      background-color: #ff4b5c;
      padding: 15px;
      border-radius: 50%;
    }

    .fa-envelope {
      background-color: #ffc107;
      padding: 15px;
      border-radius: 50%;
    }

    // Responsive Design
    @media (max-width: 768px) {
      max-width: 100%;
      padding: 15px;

      .contactSmallBox {
        .contactMiniBox {
          strong {
            font-size: 16px;
          }
          address,
          a {
            font-size: 12px;
          }
        }
      }
    }

    @media (max-width: 480px) {
      .contactSmallBox {
        flex-direction: column;
        text-align: center;

        .iconA {
          margin-bottom: 10px;
          margin-right: 0;
          font-size: 28px;
          width: 50px;
          height: 50px;
        }

        .contactMiniBox {
          strong {
            font-size: 14px;
          }

          address,
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  .contact-form {
    max-width: 600px;
    margin: 50px 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    h6 {
      color: #ff4b5c;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 5px;
      border-bottom: 1px dashed #ff4b5c;
      display: inline-block;
    }

    h1 {
      font-size: 36px;
      color: #1f1e44;
      margin-bottom: 30px;
    }

    form {
      .form-group {
        display: flex;
        justify-content: space-between;

        input {
          width: 48%;
          padding: 10px;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          font-size: 16px;
        }
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        font-size: 16px;
      }

      .btnEmail,
      .btnWhatSapp {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &.btnEmail:hover {
          background-color: #0056b3;
        }
      }
      .btnWhatSapp {
        background-color: #30d14e;
        &:hover {
          background-color: #218f35;
        }
      }
    }

    // Responsive Design
    @media (max-width: 768px) {
      form {
        .form-group {
          flex-direction: column;

          input {
            width: 100%;
            margin-bottom: 10px;
          }
        }

        input,
        textarea {
          font-size: 14px;
        }

        button {
          width: 100%;
          font-size: 14px;
        }
        .btnWhatSapp {
          @include flexcontent();
          font-size: 14px;
        }
        .OrWord {
          @include flexcontent();
          padding: 5px;
        }
      }

      h1 {
        font-size: 28px;
      }

      h6 {
        font-size: 14px;
      }
    }

    @media (max-width: 480px) {
      form {
        input,
        textarea {
          font-size: 12px;
        }

        button {
          font-size: 12px;
        }
      }

      h1 {
        font-size: 24px;
      }

      h6 {
        font-size: 12px;
      }
    }
  }
}
